<!-- vh3 -->
<section class="bg-[#EFF7F2]">
    <div class="p-10 md:p-[100px] w-full lg:container lg:mx-auto">
      <div class="flex flex-col px-5 gap-24">
        <div class="flex flex-col">
          <div class="flex items-center">
            <hr class="w-20 border-2 border-[#1D2130] me-4 font-bold" />
            <p class="text-[#1D2130] text-base font-bold uppercase">
              About Codecraft Artisan
            </p>
          </div>
          <div class="flex flex-col p-0 lg:ps-24">
            <h2 class="text-[#1D2130] text-5xl leading-tight text-wrap font-bold my-10">
              Crafting Tailored Digital Solutions with Artisanal Precision
            </h2>
            <p class="text-[#525560] mb-7">
              At Codecraft Artisan, we pride ourselves on delivering high-quality, personalized software solutions designed to fit the unique needs of our clients. With a dedication to craftsmanship, we combine cutting-edge technology with meticulous attention to detail to produce results that stand out.
            </p>
            <div class="flex flex-col border-l border-[#E5E5E5] mb-4">
              <div class="flex flex-col">
                <div class="flex">
                  <div class="w-7 h-7 bg-[#83D187] flex justify-center items-center rounded-md mx-6">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#DDFFDF">
                      <path d="M312-96v-144H48l153-240h-57l240-384 96 154 96-154 240 384h-57l153 240H648v144H504v-144h-48v144H312Z" />
                    </svg>
                  </div>
                  <p class="text-[#1D2130] font-bold text-xl mb-2">
                    Tailored Solutions
                  </p>
                </div>
                <p class="text-[#525560] ms-[76px]">
                  We listen closely to your vision and transform it into a custom digital experience that aligns perfectly with your needs.
                </p>
              </div>
              <div class="flex flex-col">
                <div class="flex mt-4 mb-2">
                  <div class="w-7 h-7 bg-[#83D187] flex justify-center items-center rounded-md mx-6">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#DDFFDF">
                      <path d="M96-264v-72q35 0 53-24t75-24q57 0 75 24t53 24q35 0 53-24t75-24q57 0 75 24t53 24q35 0 53.5-24t75.5-24q57 0 74.5 24t52.5 24v72H96Z" />
                    </svg>
                  </div>
                  <p class="text-[#1D2130] font-bold text-xl">
                    Quality & Precision
                  </p>
                </div>
                <p class="text-[#525560] ms-[76px]">
                  Every project we undertake is crafted with precision and attention to detail, ensuring a high-quality result that exceeds expectations.
                </p>
              </div>
              <div class="flex flex-col">
                <div class="flex mt-4 mb-2">
                  <div class="w-7 h-7 bg-[#83D187] flex justify-center items-center rounded-md mx-6">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#DDFFDF">
                      <path d="M192.23-480Q152-480 124-507.77q-28-27.78-28-68Q96-616 123.77-644q27.78-28 68-28Q232-672 260-644.23q28 27.78 28 68Q288-536 260.23-508q-27.78 28-68 28Z" />
                    </svg>
                  </div>
                  <p class="text-[#1D2130] font-bold text-xl">
                    Artisanal Craftsmanship
                  </p>
                </div>
                <p class="text-[#525560] ms-[76px]">
                  We bring an artisanal approach to our work, blending creativity with technical expertise to build solutions that truly stand out.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
